# Visual Studio cache
.vs/
*.user
*.suo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
env/
venv/

# SQL/DB backups
*.bacpac
*.mdf
*.ldf

# Excel/PowerBI large files
*.xlsx
*.pbix

# OS
Thumbs.db
.DS_Store
